html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-size: 45px;
    font-family: serif;
}

#joke {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    padding: 20px 20px;
    font-family: sans-serif;
    background: black;
    color: white;
    border: 2px solid red;
}

nav {
    list-style: none;
    display: flex;
    color: yellow;
    justify-content: left;
    align-content: center;
    margin: 0px 10px;
    margin-bottom: 0px;
}

#name {
    font-family: sans-serif;
}

img {
    filter: invert(100%);
    height: 40px;
    margin: 3px
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 89%;
    margin: auto;
    padding: auto;
}

#reload {
    width: 50%;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding: 20px 20px;
    font-family: sans-serif;
    background: black;
    color: red;
}